---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="about">
  <section class="max-w-[65ch] w-4/5 my-12 flex flex-col gap-2">
    <h1 class="text-3xl font-bold mt-2">about me</h1>
    <p>
      Hi there (｡◕‿‿◕｡)! welcome to my corner of the web where I write about my
      passion for distributed systems, Kubernetes, and platform engineering.
      These days you can find me dancing, doing calisthenics, biking downtown
      Toronto, or working on the next big thing (?)
    </p>
    <p>
      Feel free to reach out to me on <a
        class="underline text-blue-300 hover:text-rose-500"
        target="_blank"
        href="https://linkedin.com/in/amir-afshar">Linkedin</a
      >, <a
        class="underline text-blue-300 hover:text-rose-500"
        href="https://twitter.com/amirloveskiwis"
        target="_blank">X</a
      >, or shoot me an email at <a
        class="underline text-blue-300 hover:text-rose-500"
        href="mailto:its@amir.day">its@amir.day</a
      >
    </p>
    <p>
      If you're interested in working together then git-checkout my
      <a
        href="https://docsend.com/view/mni63p69dkxknkkj"
        target="_blank"
        class="underline text-blue-300 hover:text-rose-500">resume</a
      >!
    </p>
  </section>
</Layout>
