@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply overflow-x-hidden bg-bggray text-white;
    font-family: "Fira Code", monospace;
  }

  * {
    @apply m-0 box-border;
  }

  body::-webkit-scrollbar {
    width: 12px; /* width of the entire scrollbar */
  }

  body::-webkit-scrollbar-track {
   @apply bg-gray-600 /* color of the tracking area */
  }

  body::-webkit-scrollbar-thumb {
    @apply bg-gray-300 border-gray-400 border-2; /* color of the scroll thumb */
    border-radius: 20px; /* roundness of the scroll thumb */
  }
}
