---
import Layout from "../layouts/Layout.astro";
---

<Layout title="mainframe">
    <section
        class="max-sm:hidden w-screen grow flex flex-col min-h-full pb-16 px-2 md:px-16"
    >
        <div class="terminal w-full grow h-full bg-black border p-4"></div>
    </section>
    <section class="sm:hidden">
        <h1>This page isn't meant for mobile :(</h1>
    </section>
</Layout>

<script>
    import "xterm/css/xterm.css";
    import { WebContainer } from "@webcontainer/api";
    import { Terminal } from "xterm";
    import { FitAddon } from "xterm-addon-fit";

    const webcontainerInstance = await WebContainer.boot();

    async function startShell(terminal: Terminal) {
        const shellProcess = await webcontainerInstance.spawn("jsh");

        shellProcess.output.pipeTo(
            new WritableStream({
                write(data) {
                    terminal.write(data);
                },
            })
        );

        const input = shellProcess.input.getWriter();
        terminal.onData((data) => {
            input.write(data);
        });
        return shellProcess;
    }

    const terminalEl = document.querySelector(
        ".terminal"
    ) as HTMLElement | null;
    if (terminalEl == null) {
        throw Error("couldn't find terminal element");
    }

    const terminal = new Terminal({
        convertEol: true,
    });
    const fitAddon = new FitAddon();
    terminal.loadAddon(fitAddon);
    terminal.open(terminalEl);
    fitAddon.fit();

    startShell(terminal);
</script>
