---
import Logo from "../components/Logo.astro";
import Link from "./Link.astro";
---

<header class="flex justify-between py-6 px-16">
    <Logo />
    <div class="flex gap-6 items-center">
        <Link title="Projects" />
        <Link title="Resume" />
    </div>
</header>
