<section
  class="max-sm:hidden text-center z-10 gap-2 absolute top-1/2 left-1/2 flex flex-col justify-center items-center -translate-x-1/2 -translate-y-1/2"
>
  <h1 class="uppercase text-3xl tracking-wide">Amir Azizafshari</h1>
</section>
