---
import Link from "./Link.astro";
import { links } from "../consts/links";
---

<section class="sm:hidden w-full pl-6">
  <h1 class="mt-4 mb-2 text-3xl uppercase font-medium">Amir Azizafshari</h1>

  <div class="text-3xl mt-6 flex flex-col gap-4">
    {
      links.map((link) => (
        <Link
          href={link.href}
          title={link.title}
          target={link.target}
          className={"font-['Noto_Sans'] uppercase"}
        />
      ))
    }
  </div>
</section>
