---
import Layout from "../../layouts/Layout.astro";
import { books } from "../../consts/books";
import type { Year } from "../../consts/books";
const keys = Object.keys(books);
const sorted_years = keys.sort(
  (year1, year2) => parseInt(year2) - parseInt(year1)
) as unknown[] as Year[];
---

<Layout title="shelf">
  <section class="max-w-[65ch] w-4/5 my-12">
    <section class="my-12 w-4/5 max-w-[65ch]">
      <h2 class="text-2xl font-medium mb-4">Rating books I read</h2>
      {
        sorted_years.map((year) => (
          <div class="flex flex-col gap-1">
            <h3 class="text-lg">{year}</h3>
            {books[year]?.map((book) => (
              <div class="tracking-wide">
                <p class=" font-light">
                  <span class="italic">{book.title}</span> by {book.author};{" "}
                  <span class="">
                    {Array(book.rating)
                      .fill(0)
                      .map((_) => "★")}
                  </span>
                </p>
              </div>
            ))}
          </div>
        ))
      }
    </section>
  </section>
</Layout>
